<ion-view view-title="İlan Ara">
  <ion-content>
    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Emlak Tipi
        </div>
        <select>
          <option selected>Seçiniz</option>
          <option>Satılık</option>
          <option>Kiralık</option>
        </select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Mahalle
        </div>
        <select>
          <option selected>Seçiniz</option>
          <option>Güzeloba</option>
          <option>Güzeloluk</option>
          <option>Meydankavağı</option>
          <option>Kepez</option>
          <option>Üçgen</option>
          <option>Demircikara</option>
          <option>Gençlik</option>
        </select>
      </label>

      <label class="item item-input">
      <span class="input-label">Fiyat Min</span>
      <input type="text" style="text-align: right;" placeholder="Giriniz">
    </label>
      <label class="item item-input">
        <span class="input-label">Fiyat Max</span>
        <input type="text" style="text-align: right;" placeholder="Giriniz">
      </label>

      <label class="item item-input">
        <span class="input-label">Metre Kare Min</span>
        <input type="text" style="text-align: right;" placeholder="Giriniz">
      </label>
      <label class="item item-input">
        <span class="input-label">Metre Kare Max</span>
        <input type="text" style="text-align: right;" placeholder="Giriniz">
      </label>
      <br/>
      <button class="button button-block button-positive" ng-click="go('/app/offerList')">
        Filtrele
      </button>
    </div>
  </ion-content>
</ion-view>
